# Carpetas
/Jon/nodejs/jon/06AplicacionesWeb/express/basicos/node_modules
/Jon/nodejs/jon/06AplicacionesWeb/ghost
/Jon/nodejs/jon/07SocketIO/00Contador/node_modules
/Jon/nodejs/jon/07SocketIO/01Chat/node_modules